body{
    background-color: rgb(9, 6, 6);
    color: white;
}

*{
    
    margin: 0;
    padding: 0;
}

/* FLEX-CLASS */

.flex{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 0.5rem;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ICONS-SIZE */

.icon{
    height: 1.5rem;
}
nav{
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;              /* Important */
    display: flex;
    align-items: center;       /* vertical alignment */
    z-index: 1000;
}



.nav-box{
    display: flex;
    align-items: center;
    gap: 5%;
}

.link{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10%;          /* no space */
}

.logo img{
    width: 40px;     /* fixed size better than % */
}

.logo-home{
    width: 40px;
}

.search-bar{
    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 10px 20px;
    border-radius: 50px;
    width: 16rem;   /* adjust as needed */
}

.search-bar input{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    margin-left: 15px;
    font-size: 16px;
    width: 100%;
}

.search-icon{
    width: 20px;
    opacity: 0.7;
}

/* PLAYLIST */

.play-container{
    margin-top: 80px; /* to avoid nav overlap */
    display: flex;
    padding: 20px;
    background-color: #121212;
}


/* CONTROLLER CONTAINER */


.control-container{
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;              /* Important */
    display: flex;
    align-items: center;       /* vertical alignment */
    z-index: 1000;
}

.lush-life-song{
    height: 3rem;
}