body{
    background-color: rgb(0, 0, 0);
    color: white;
    /* overflow: hidden;    */
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* FLEX-CLASS */

.flex{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 0.5rem;
}

.flex2{
    display: flex;
    align-items: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* item */

.item {
  background-color: #121212;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: flex-start; /* Align content to the left */
  justify-content: flex-start; /* Align content to the top */
  font-family: sans-serif;
  border: 1px solid #282828;
  box-sizing: border-box; /* Crucial for width calculation */
}


/* ICONS-SIZE */

.icon{
    height: 1.5rem;
}
nav{
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;              /* Important */
    display: flex;
    align-items: center;       /* vertical alignment */
    z-index: 1000;
}



.nav-box{
    display: flex;
    align-items: center;
    gap: 5%;
}

.link{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10%;          /* no space */
}

.logo img{
    width: 40px;     /* fixed size better than % */
}

.logo-home{
    width: 40px;
}

.search-bar{
    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 10px 20px;
    border-radius: 50px;
    width: 16rem;   /* adjust as needed */
}

.search-bar input{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    margin-left: 15px;
    font-size: 16px;
    width: 100%;
}

.search-icon{
    width: 20px;
    opacity: 0.7;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* HOME PAGE */

/* .home-page{
       position:absolute;
    top:10vh;
    bottom:10vh;
    left:0;
    right:0;

    display:grid;
    grid-template-columns:19vw 1fr 18vw;
    gap:1rem;
    padding:1rem;
} */


.home-page{
display: flex;         
    justify-content: center; 
    align-items: center;    
    gap: 1rem;             
    height: 79vh;            
    margin-top: 10vh;       
    width: 100%;
}


/* PLAYLIST */



.play-container{
background-color: rgb(18, 18, 18);
    width: 30vw;
    min-width: 20vw;   
    height: 100%;      
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box; 
    margin-left: 1rem;
}

.play-head{
    display: flex;
    justify-content: space-between;
}


.create{
    display: flex;
    justify-content: flex-end;
}

.search-bar2{
    display: flex;
    align-items: center;
    background-color: #242424;
    margin-top: 1rem;
    padding: 10px 20px;
    border-radius:50px;
    width: 10vw;   /* adjust as needed */
}
.search-bar2 input{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    margin-left: 15px;
    font-size: 16px;
    width: 100%;
}


/* EXPLORE MUSIC OR SONGS */

.hero-container{
    background-color: rgb(18, 18, 18);
    width: 80vw;
    height: 100%;
    border-radius: 1rem;
    box-sizing: border-box;
    margin-right: 1rem;
}

.btn01{
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    margin-right: 0.75rem;
    border-radius: 30%;
    background-color: #252e39;
    border: none;
    color: white;
}

.hero-songs{
    width: 100%;
    height: 40%;
}

.h-up{
    display: flex;
    width: 98%;
    height: 40%;
    display: flex;
}

.h-bot{
    display: flex;
    width: 98%;
    height: 40%;
}

.h-divs{
    display: flex;
    height: 90%;
    width: 50%;
    margin: 1rem 0.5rem 0.5rem 0rem ;
    padding: 0.5rem;
    background-color: rgb(40, 47, 56);
    border-radius: 0.3rem;
}

.H-img{
    width: 3.5rem;
}

.h4-s01{
    display: flex;
    align-items: center;
    margin: 1rem;
}








/* banner */

/* 
.banner-container{
background-color: rgb(18, 18, 18);
    width: 20vw;
    min-width: 20vw;   
    height: 100%;
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

.banner-container img{
    width:5vw;
} */



/* ///////////////////////////////////////////////// */

.play-container, 
.hero-container, 
.banner-container {
    position: relative;
    /* margin: 0;          */
    height: 100%;       
    padding: 20px;    
}



/* ///////////////////////////////////////////////// */















/* CONTROLLER CONTAINER */


.control-container{
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;              /* Important */
    display: flex;
    align-items: center;       /* vertical alignment */
    z-index: 1000;
}

.lush-life-song{
    height: 3rem;
}

.range{
    padding-bottom: 0.5rem;

}

.three{
    display: flex;
    justify-content: flex-end;
    width: 25vw;
    margin-right: 1rem;
}